nav{
    position: fixed;
}
.Header{

    width: 100%;
    height: 60px;
    background-color: white;
    position: relative;

}

body{

    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

.logo{

    display: inline-block;
    width: 164px;
    height: 30px;
    padding-top: 19px;
    margin-left: 218px;

}
.companylogo{

    width: 161px;
}
.navbar{
    float: right;
}
.list{
    position: absolute;
    display: flex;
    list-style: none;
    justify-content: space-around;
    left: 361px;
    top: -6px;
}
li{
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    font-size: normal;
    font-size: 14px;
    font-weight: 400;
}
.textalign{
    padding: 15px 25px;
    size: 10px;
    text-decoration: none;
}


a{
   /* text-decoration: none;*/
    color: black;
}
.image1{
    position: relative;
    display: flex;
    float: left;
    height: 556px;
    width: 50%;
    

}
.common{
    width: 768px;
    height: 556px;
}
.text{
    display: inline-block;
}
h5{
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    display: inline-block;
    font-size: 2.1rem;
    position: absolute;
    color:white;
    margin-bottom: 10px;
    left: 79px;
    bottom: -88px;
    width: 530px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    text-align: left;
    
}

button{

    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    border:none;
    background:transparent;
    font-size: 18px;
    color: white;
    position: relative;
    left: 76px;
    top: 238px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    text-align: left;
    cursor: pointer;

}
.text1{
    position: absolute;
    
}

p{
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    color:white;
    font-size: 1.5rem;
    line-height: 1.625rem;
    position: relative;
    left: 82px;
    top: 245px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
}
.waterHeading{
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    display: inline-block;
    font-size: 2.1rem;
    position: absolute;
    color:white;
    margin-bottom: 10px;
    left: 79px;
    bottom: -152px;
    width: 530px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    text-align: left;
    
}
.waterparagraph{
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    color:white;
    font-size: 1.5rem;
    line-height: 1.625rem;
    position: relative;
    left: 82px;
    top: 271px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));

}
.waterbutton{
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    border:none;
    background:transparent;
    font-size: 18px;
    color: white;
    position: relative;
    left: 76px;
    top: 289px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    text-align: left;
    cursor: pointer;
}

.officeheading{
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    display: inline-block;
    font-size: 2.1rem;
    position: absolute;
    color:white;
    margin-bottom: 10px;
    left: 79px;
    bottom: -112px;
    width: 623px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    text-align: left;
}

.officeparagraph{

    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    color:white;
    font-size: 1.5rem;
    line-height: 1.625rem;
    position: relative;
    left: 82px;
    top: 217px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));

}

.officebutton{

    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    border:none;
    background:transparent;
    font-size: 18px;
    color: white;
    position: relative;
    left: 76px;
    top: 212px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    text-align: left;
    cursor: pointer;
}

.colaboxheading{
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    display: inline-block;
    font-size: 2.1rem;
    position: absolute;
    color:white;
    margin-bottom: 10px;
    left: 79px;
    bottom: -101px;
    width: 659px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    text-align: left;
}

.colaboxparagraph{

    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    color:white;
    font-size: 1.5rem;
    line-height: 1.625rem;
    position: relative;
    left: 82px;
    top: 178px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));

}

.colaboxbutton{

    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    border:none;
    background:transparent;
    font-size: 18px;
    color: white;
    position: relative;
    left: 76px;
    top: 170px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    text-align: left;
    cursor: pointer;
}

.agricultureheading{

    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    display: inline-block;
    font-size: 2.1rem;
    position: absolute;
    color:white;
    margin-bottom: 10px;
    left: 79px;
    bottom: -101px;
    width: 659px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    text-align: left; 
}

.agricultureparagraph{

    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    color:white;
    font-size: 1.5rem;
    line-height: 1.625rem;
    position: relative;
    left: 82px;
    top: 199px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));

}

.agriculturebutton{

    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    border:none;
    background:transparent;
    font-size: 18px;
    color: white;
    position: relative;
    left: 76px;
    top: 197px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    text-align: left;
    cursor: pointer;
}

.handheading{

    
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    display: inline-block;
    font-size: 2.1rem;
    position: absolute;
    color:white;
    margin-bottom: 10px;
    left: 79px;
    bottom: -165px;
    width: 659px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    text-align: left; 
}

.handparagraph{

    
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    color:white;
    font-size: 1.5rem;
    line-height: 1.625rem;
    position: relative;
    left: 82px;
    top: 246px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
}

.handbutton{

    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    border:none;
    background:transparent;
    font-size: 18px;
    color: white;
    position: relative;
    left: 76px;
    top: 250px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    text-align: left;
    cursor: pointer;
}

.footerlogo{

    display: inline-block;
    width: 1528px;
    height: 200px;
    background-color: #4a4a4a;
    margin-top: 1px;

}

.logofooter{

    width: 216px;
    height: 49px;
    margin: 37px 0px 0px 72px;
    padding: 8px 0px;
    display: inline-block;
}

.list1{

    list-style: none;
    display: flex;
    
    justify-content:space-evenly;

}
.textalign1{

    size: 6px;
    color: white;
    border-right: 1px;
    border-color: white;
    text-decoration: none;
}
.footercontent{

    width: 1092px;
    display: inline-block;
    position: relative;
    left: 147px;
    bottom: 9px;


    
}
.lists{
    font-size: 1rem;
    color: white;
    width: fit-content;
    justify-content: space-around;
    text-decoration: none;
}
.listblock{

    width: 41px;
    height: 40.04px;
    padding: 10px 10px;
    display: inline-block;
    
}
.list2{
    
    list-style: none;
    display: inline-block;
    position: relative;
    left: 1150px;
    bottom: 22px;
    
}
.contentparagraph{

    font-size: 17px;
    color: white;
    position: relative;
    top: -42px;
    left: -284px;
    display: inline-block;
}
.conditions{

    font-size: 5px;
    display: inline-flex;
    list-style: none;
    position: relative;
    top: -21px;
    left: -691px;
    
}
.last{

    padding-left: 15px;
    padding-right: 15px;
    color: white;
    
}
li{

    display: flex;
}
.navlinks{

    text-decoration: none;
}


td{
    padding: 5px;
    font-size: 17px;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    color: white;
    cursor: pointer;
}
table{
    padding-left: 79px;
}
.headerimage{

    float: right;
    position: absolute;
    top: 12px;
    right: 231px;
}
.searchiconnav{
    height: 20px;
    width: 20px;
}
.globaliconnav{
    height: 30px;
    width: 30px;
}
.headerdiv{
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
}